.div1 {
    border: 5px solid red;
    outline: 10px solid black;
    /* height: 100px; */
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: #ccc;
    /* line-height: 100px; */
    padding: 20px;




}

.div2 {

    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-right: 5px solid green;
    border-left: 5px solid green;
    background-color: #ccc;

    outline: 5px solid black;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.div3 {
    border-top: 5px dashed red;
    border-bottom: 5px dashed blue;
    border-right: 5px dashed green;
    border-left: 5px dashed yellow;
    outline: 5px solid black;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #ccc;
}