div{
    width: 600px;
    margin: 20px auto;
    background-color: #eee;
    padding: 20px;
    position: relative;
}
div::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: bold;
    background-image: linear-gradient(to right, orangered 50%, #2a7e12 50%);
}
input{
    border:none;
    outline:none;
    background: #eee;
    padding: 12px;
    width: 595px;
    caret-color: red;
}