/* 
  Filters

 {
  box-sizing: border-box;
}
img {
   transition: 0.3s; 
   filter: grayscale(100%); 
  filter:invert(30%);
}
img:hover {
  filter: grayscale(0); 
   filter:blur(0); 
  filter: invert(5%);
}   */
/*
  Gradients
  linear-gradient(Direction || Angle, Color Stop 1, Color Stop 2, ....)
*/

/* div {
  width: 400px;
  height: 200px;
  background-color: #eee;
  margin: 20px auto;
  position: relative;
  padding: 10px;
}
div:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  background-color: red;
  height: 10px;
  background-image: linear-gradient(
    to right,
    #2980b9 20%,
    #27ae60 20%,
    #27ae60 40%,
    #d35400 40%,
    #d35400 60%,
    #8e44ad 60%,
    #8e44ad 80%,
    #c0392b 80%
  );
} */
 /* div{
    width: 400px;
    height: 300px;
    margin: 40px auto;
    border:10px;
    background-color: #eee;
    position: relative;
    padding: 10px;
 
    content: "";
    position: absolute;
    top: -10px;
    left:0;
    height: 50px;
    background-image: linear-gradient(
      to right,
      #2980b9 20%,
      #27ae60 20%,
      #27ae60 40%,
      #d35400 40%,
      #d35400 60%,
      #8e44ad 60%,
      #8e44ad 80%,
      #c0392b 80%
    );
 } */
  input {
  caret-color: red;
}
a:hover {
  pointer-events:visible;
  cursor: pointer;
}