body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 20px 1fr; /* عمود يسار، عمود فراغ، عمود يمين */
  grid-template-rows: 50px 1fr 50px;   /* صف علوي، فراغ، صف سفلي */
}

.grid > div {
  background-color: #ff00ff; /* بمبي */
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

/* العناصر العلوية */
.grid > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.grid > div:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

/* العناصر السفلية */
.grid > div:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.grid > div:nth-child(4) {
  grid-column: 3;
  grid-row: 3;
}