.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin:20px auto;
  display: grid;
  grid-template-columns: auto repeat(2,1fr) auto;
  grid-template-rows: 1fr auto;
  gap: 20px 20px;
}
.grid div{
    background-color: #403f3f;
    color: white;
    /* padding: 20px; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
