
  div {
    padding: 20px;
    border: 3px solid orange;
  }

  p {
    padding: inherit;
    border: inherit;
    background-color: #bab9b9;
    text-align: center;
    margin: 0;
    
  }
 


