.one,
.two,
.three {
    text-align: center;
    text-transform: uppercase;

}

.one {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-style: italic;
}

.two {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.three {
    text-indent: 50px;
    font-family: 'Jomhuria', sans-serif;
    font-weight: 400;
    line-height:2;
}