.one {
    font-size: 2.5rem;
    /* 50px */
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.two {
    font-size: 2rem;
    /* 40px */
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.three {
    font-size: 1.5rem;
    /* 30px */
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}