.parent {
    width: 400px;
    height: 200px;
    background-color: #eee;
    transition: all 0.5s;

    margin: 50px auto;
    border: 50px;
    font-size: 20px;
    text-align: center;
}

.child {

    background-color: #ccc;
    transition: all 0.5s 0.5s;
    padding: 20px;
    
    
}

.parent:hover {
    margin-top: 30px;
}

.child:hover {
    margin-top: 30px;
}





.parent:hover .child {
    margin-top: 30px;
}