/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
} */


.container div {
    margin: 10px auto;
    padding:var(--mainPadding,20px);
    background-color: var(--mainColor,rgb(255, 255, 255));
    border:3px solid var(--mainColor,black);
    width: 400px;
    color: rgb(254, 14, 14);
    font-size: 20px;
    
    
}