.assign-4-shape-1 {
    background-size: 80% 80%;
    background-repeat: no-repeat;
}

.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: right center;
    background-size: 75% 75%;
}

.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 50% 50%;
}

.assign-4-shape-4 {
    background-repeat: repeat;
    background-size: 20% 20%;
    background-position: right bottom;
    background-image: linear-gradient(to right, #007BFF 1px, transparent 1px),
        linear-gradient(to bottom, #007BFF 1px, transparent 1px);
}

.assign-4-shape-1,
.assign-4-shape-2,
.assign-4-shape-3,
.assign-4-shape-4 {
    background-color: rgba(138, 43, 226, 0);
    background-image: url("../css images/css-assignment-5-8.png");
    width: 400px;
    height: 400px;
    border: 500px;
    padding: 20px;
    margin: 20px;

}