.assign-1-shape-1 {
    width: 500px;
    padding: 20px;
    margin: 20px;

    /* باستخدام اسم اللون مباشرة */
    background-color: blueviolet;

    /* باستخدام Hex */
    background-color: #8A2BE2;

    /* باستخدام RGB */
    background-color: rgb(138, 43, 226);

    /* باستخدام HSL */
    background-color: hsl(271, 76%, 53%);

}

.assign-1-shape-2 {
    width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(138, 43, 226, 0.5);
}



.assign-1-shape-3 {
    width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(138, 43, 226, 0.1);
}