body {
  margin: 0;
  height: 100vh;
  background-color: white;
  position: relative;
}


div {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  color: #00f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


body::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #ff00ff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}


body::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #00ffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}