body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: #fff;
}

div {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 5px 0;
}

div:first-of-type,
div:last-of-type {
  background-color: #d3d3d3;
  color: black;
}

div:nth-of-type(2) {
  background-color: red;
}