.green,
.red,
.blue,
.black {
    width: 100px;
    height: 100px;
    position: absolute;
}

.green {
    background-color: teal;
    top: 40px;
    left: 40px;
    z-index: 2;
}

.red {
    background-color: red;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.blue {
    background-color: cyan;
    top: 60px;
    left: 60px;
    z-index: 1;
}

.black {
    background-color: black;
    top: 80px;
    left: 80px;
    z-index: 0;
}