.TitleOne,
.TitleTwo,
.TitleThree,
.TitleFour {
    color: white;
    background-color: rgb(136, 6, 6);
    display: block;
    text-align: center;
    margin: 20px;
    padding: 20px;
    height: 10px;
    max-width: 400px;
    /* border: 5px solid black; */
    /* visibility: hidden; */
    overflow: hidden;

}