.container {
    width: 800px;
    background: #f9f9f9;
    border: 20px solid #e2dede;
}

.box {
    display: inline-block;
    background: #eee;
    text-align: center;
    padding: 20px;
    margin: 7.5px;
    /* نصف المسافة المطلوبة عشان يدي 15px بين العناصر */
}

/* العناصر */
.full {
    width: calc(100% - 15px);
    /* كامل العرض مع طرح المسافة */
}

.third {
    width: calc(33.333% - 15px);
}

.half {
    width: calc(50% - 15px);
}

.quarter {
    width: calc(25% - 15px);
}